@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@300;400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fuente-titulos{
  font-family: 'Black Han Sans', sans-serif;
}

main {
  flex-grow: 1;
}

.imagen-tamaño{
  width: 900px;
  height: 600px;
}

.img-carrousel{
  height: 500px;
  object-fit: cover;
}

@media (max-width: 576px){
  .imagen-tamaño{
    width: 400px;
    height: 350px;
  }
}

/** ----- Tamaño de iconos en index ----- */
.fa-eye,
.fa-fingerprint,
.fa-puzzle-piece,
.fa-robot{
  font-size: 30px;
}

/**----- Mediaqueries para página precios  */

@media (max-width: 576px){
  .precio{
    width: 15%;
  }

  .fa-user,
  .fa-screwdriver-wrench,
  .fa-money-check-dollar,
  .fa-money-bill-wave,
  .fa-credit-card{
    font-size: 50px;
    margin-top: 15px;
  }
}